<footer id="footer" class="page-footer">
    <div class="container grey-text">
        © 2018 Copyright Munazzo
        <div class="right right-align">
            <a href="/app/features">Over ons</a> | <a class="dropdown-button" href="#!" data-activates="footer-dropdown">Algemene voorwaarden</a><ul id="footer-dropdown" class="dropdown-content">
<li><a href="/app/terms">Algemene Voorwaarden</a></li>
<li><a href="/app/dropshipping">Dropship Voorwaarden</a></li>
</ul> | <a href="/app/policy">Privacy Policy</a> | <a href="#modal-contact-email" data-target="modal-contact-email" class="modal-trigger">Contact</a>

        </div>
    </div>
</footer>