<app-header></app-header>
<main>
  <section class="page page-header-blue red">
    <div class="container center-align">
      <h2 class="white-text">Stevig voor technische integraties.<br>Magisch voor zakelijke gebruikers.</h2>
      <div class="row">
        <div class="col m3 offset-m3 s6"><a class="btn waves-effect waves-light yellow darken-2 segment-track-link" href="https://munazzo.com/app/register"><span
              class="dark-grey-text">Start nu gratis</span></a></div>
        <div class="col m3 s6"><a class="btn waves-effect waves-light grey darken-2 modal-trigger" href="#modal-contact-email"
            data-target="modal-contact-email">Contact</a></div>
      </div>
    </div>
  </section>
  <section id="main-features">
    <div class="container">
      <div class="row">
        <div class="col s12">
          <div class="card center-align" style="padding: 1rem;">
            <p>Munazzo is een unieke platform waar u keuze heeft om uit meer dan 2 miljoen producten een selectie te maken
              en in een paar klikken te importeren in uw webshop. Daarnaast heeft u de mogelijkheid om deze producten zonder
              webshop te exporteren naar uw beheerpaneel of direct te bestellen. Het is dan vervolgens aan u of u ze wil
              aanbieden op marketplaces zoals Amazon, Bol, Marktplaats, Ebay, Cdiscount, Rakuten en/of Alibaba etc. In deze
              uiterst gebruiksvriendelijke beheerspaneel kunt u de content van uw producten optimaliseren en de marges instellen
              voor verkoopprijzen, dit kan zowel per product als per categorie. Wij hebben inmiddels koppelingen gerealiseerd
              met CCV shop, Lightspeed, Mijnwebwinkel en Magento. Connecties met andere webwinkelportals zijn gepland.</p>
            <p>U wilt uw producten zowel in Nederland als in het buitenland verkopen. Wij hebben de tool om in meer dan 40
              landen in honderden vergelijksites en affiliate netwerken middels API of productfeed uw assortiment aan te
              bieden.</p>
            <p>De selectie aan producten zijn een realtime weergave van voorraad en prijs, u heeft dus te allen tijde inzage
              in onze actuele voorraad en prijzen. De bestellingen die bij u binnenkomen komen dan ook over met ons aanbod.
              Wij kunnen uw bestellingen direct laten dropshippen naar uw klant.</p>
            <p>Bij Munazzo heeft u dus zowel voorraad, als alle verkoopkanalen ter beschikking.</p>
            <p>Start met onze gratis proefpakket en importeer direct tot 10 producten. Indien u&nbsp;meer dan 10 producten
              wilt importeren kunt u starten met ons Basis pakket en uitbreiden tot Royaal.</p>
            <p>Wij wensen u veel verkoopplezier toe.</p>
          </div>
        </div>
      </div>
      <h4 class="center-align">Krachtig. Eenvoudig. Betrouwbaar.</h4>
      <div class="row">
        <div class="col s12 m4 l4">
          <h5>Snelle zoekmachine</h5>
          <p>Snelste manier om producten voor uw winkel of webshop te vinden.</p>
        </div>
        <div class="col s12 m8 l7 offset-l1"><img src="https://munazzo.com/assets/themes/default/img/screens/screen1.png"
            alt=""></div>
      </div>
      <div class="row">
        <div class="col s12 m8 l7"><img src="https://munazzo.com/assets/themes/default/img/screens/screen3.png" alt=""></div>
        <div class="col s12 m4 l4 offset-l1">
          <h5>Moeiteloos&nbsp;producten koppelen aan marktplaatsen</h5>
          <p>Op één manier meerdere marktplaatsen en webshops voorzien van uw producten.</p>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m4 l4">
          <h5>Eenvoudig bestellen en verzenden</h5>
          <p>Beheer eenvoudig uw bestellingen op verschillende marktplaatsen.</p>
        </div>
        <div class="col s12 m8 l7 offset-l1"><img src="https://munazzo.com/assets/themes/default/img/screens/screen2.png"
            alt=""></div>
      </div>
      <div class="row">
        <div class="col s12 m8 l7"><img src="https://munazzo.com/assets/themes/default/img/screens/screen4.png" alt=""></div>
        <div class="col s12 m4 l4 offset-l1">
          <h5>Pakketkeuze</h5>
          <p>Van Basis tot Royaal, Munazzo heeft een plan voor ieder wens.</p>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m4 l4">
          <h5>Integratie met meerdere webshops en marketplaces</h5>
          <p>Verkoop eenvoudig op verschillende marktplaatsen.</p>
        </div>
        <div class="col s12 m8 l7 offset-l1"><img src="https://munazzo.com/assets/themes/default/img/screens/screen5.png"
            alt=""></div>
      </div>
      <div class="row">
        <div class="col s12 m8 l7"><img src="https://munazzo.com/assets/themes/default/img/screens/screen6.png" alt=""></div>
        <div class="col s12 m4 l4 offset-l1">
          <h5>Beheer productupdates</h5>
          <p>Beheer uw product catalogus op meerdere webshops.</p>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m4 l4">
          <h5>Koppelingen eenvoudig aanvragen</h5>
          <p>Kies uw gewenste koppeling en de verbinding wordt voor u gelegd.</p>
        </div>
        <div class="col s12 m8 l7 offset-l1"><img src="https://munazzo.com/assets/themes/default/img/screens/screen7.png"
            alt=""></div>
      </div>
      <div class="row">
        <div class="col s12 m8 l7"><img src="https://munazzo.com/assets/themes/default/img/screens/screen8.png" alt=""></div>
        <div class="col s12 m4 l4 offset-l1">
          <h5>Automatische updates</h5>
          <p>U bepaalt wanneer uw aanbod vernieuwd wordt.</p>
        </div>
      </div>
    </div>
  </section>

  <section id="integrations" class="card" style="padding-bottom: 4rem; padding-top: 2rem;">

    <div class="container">

      <h4 class="center-align with-subtitle">Munazzo Integraties</h4>

      <h5 class="subtitle center-align">Publiceer met ieder mogelijke applicatie producten in wereldwijde marktplaatsen.</h5>

      <div class="row integration-otherapps center-align">


        <div class="col s4 m3 l2 app">

          <div class="card-content white-text">

            <a href="/app/store/lightspeed" style="margin:0px;">

              <img src="/assets/themes/default/img/apps/lightspeed.png" style="max-width: 100%; max-height: 100%;">

              <!-- <p class="app-name">Lightspeed</p> -->

            </a>

          </div>

        </div>


        <div class="col s4 m3 l2 app">

          <div class="card-content white-text">

            <a href="/app/store/ccv" style="margin:0px;">

              <img src="/assets/themes/default/img/apps/ccv.png" style="max-width: 100%; max-height: 100%;">

              <!-- <p class="app-name">CCV Shop</p> -->

            </a>

          </div>

        </div>


        <div class="col s4 m3 l2 app">

          <div class="card-content white-text">

            <a href="/app/store/bolcom" style="margin:0px;">

              <img src="/assets/themes/default/img/apps/bol.com.png" style="max-width: 100%; max-height: 100%;">

              <!-- <p class="app-name">Bol.com Plaza</p> -->

            </a>

          </div>

        </div>


        <div class="col s4 m3 l2 app">

          <div class="card-content white-text">

            <a href="/app/store/google" style="margin:0px;">

              <img src="/assets/themes/default/img/apps/google.png" style="max-width: 100%; max-height: 100%;">

              <!-- <p class="app-name">Google Shopping</p> -->

            </a>

          </div>

        </div>


        <div class="col s4 m3 l2 app">

          <div class="card-content white-text">

            <a href="/app/store/mijnwebwinkel" style="margin:0px;">

              <img src="/assets/themes/default/img/apps/mijnwebwinkel.png" style="max-width: 100%; max-height: 100%;">

              <!-- <p class="app-name">Mijnwebwinkel</p> -->

            </a>

          </div>

        </div>


        <div class="col s4 m3 l2 app">

          <div class="card-content white-text">

            <a href="/app/store/magento" style="margin:0px;">

              <img src="/assets/themes/default/img/apps/magento.jpg" style="max-width: 100%; max-height: 100%;">

              <!-- <p class="app-name">Magento</p> -->

            </a>

          </div>

        </div>


        <div class="col s4 m3 l2 app">

          <div class="card-content white-text">

            <a href="/app/store/opencart" style="margin:0px;">

              <img src="/assets/themes/default/img/apps/opencart.png" style="max-width: 100%; max-height: 100%;">

              <!-- <p class="app-name">OpenCart</p> -->

            </a>

          </div>

        </div>


        <div class="col s4 m3 l2 app">

          <div class="card-content white-text">

            <a href="/app/store/shopify" style="margin:0px;">

              <img src="/assets/themes/default/img/apps/shopify.png" style="max-width: 100%; max-height: 100%;">

              <!-- <p class="app-name">Shopify</p> -->

            </a>

          </div>

        </div>


        <div class="col s4 m3 l2 app">

          <div class="card-content white-text">

            <a href="/app/store/amazon" style="margin:0px;">

              <img src="/assets/themes/default/img/apps/amazon.png" style="max-width: 100%; max-height: 100%;">

              <!-- <p class="app-name">Amazon Sellercentral</p> -->

            </a>

          </div>

        </div>


        <div class="col s4 m3 l2 app">

          <div class="card-content white-text">

            <a href="/app/store/beslist" style="margin:0px;">

              <img src="/assets/themes/default/img/apps/beslist.png" style="max-width: 100%; max-height: 100%;">

              <!-- <p class="app-name">Beslist Feed</p> -->

            </a>

          </div>

        </div>


        <div class="col s4 m3 l2 app">

          <div class="card-content white-text">

            <a href="/app/store/affilinet" style="margin:0px;">

              <img src="/assets/themes/default/img/apps/affilinet.png" style="max-width: 100%; max-height: 100%;">

              <!-- <p class="app-name">Affilinet Feed</p> -->

            </a>

          </div>

        </div>


        <div class="col s4 m3 l2 app">

          <div class="card-content white-text">

            <a href="/app/store/cdiscount" style="margin:0px;">

              <img src="/assets/themes/default/img/apps/cdiscount.png" style="max-width: 100%; max-height: 100%;">

              <!-- <p class="app-name">Cdiscount</p> -->

            </a>

          </div>

        </div>


        <div class="col s4 m3 l2 app">

          <div class="card-content white-text">

            <a href="/app/store/hardwareinfo" style="margin:0px;">

              <img src="/assets/themes/default/img/apps/hardwareinfo.png" style="max-width: 100%; max-height: 100%;">

              <!-- <p class="app-name">Hardware.info Feed</p> -->

            </a>

          </div>

        </div>


        <div class="col s4 m3 l2 app">

          <div class="card-content white-text">

            <a href="/app/store/kelkoo" style="margin:0px;">

              <img src="/assets/themes/default/img/apps/kelkoo.png" style="max-width: 100%; max-height: 100%;">

              <!-- <p class="app-name">Kelkoo Feed</p> -->

            </a>

          </div>

        </div>


        <div class="col s4 m3 l2 app">

          <div class="card-content white-text">

            <a href="/app/store/kieskeurig" style="margin:0px;">

              <img src="/assets/themes/default/img/apps/kieskeurig.jpg" style="max-width: 100%; max-height: 100%;">

              <!-- <p class="app-name">Kieskeurig Feed</p> -->

            </a>

          </div>

        </div>


        <div class="col s4 m3 l2 app">

          <div class="card-content white-text">

            <a href="/app/store/leguide" style="margin:0px;">

              <img src="/assets/themes/default/img/apps/leguide.png" style="max-width: 100%; max-height: 100%;">

              <!-- <p class="app-name">LeGuide Feed</p> -->

            </a>

          </div>

        </div>


        <div class="col s4 m3 l2 app">

          <div class="card-content white-text">

            <a href="/app/store/rakuten" style="margin:0px;">

              <img src="/assets/themes/default/img/apps/rakuten.jpg" style="max-width: 100%; max-height: 100%;">

              <!-- <p class="app-name">Rakuten</p> -->

            </a>

          </div>

        </div>


        <div class="col s4 m3 l2 app">

          <div class="card-content white-text">

            <a href="/app/store/scoupz" style="margin:0px;">

              <img src="/assets/themes/default/img/apps/scoupz.png" style="max-width: 100%; max-height: 100%;">

              <!-- <p class="app-name">Scoupz Feed</p> -->

            </a>

          </div>

        </div>


        <div class="col s4 m3 l2 app">

          <div class="card-content white-text">

            <a href="/app/store/shopmania" style="margin:0px;">

              <img src="/assets/themes/default/img/apps/shopmania.png" style="max-width: 100%; max-height: 100%;">

              <!-- <p class="app-name">ShopMania Feed</p> -->

            </a>

          </div>

        </div>


        <div class="col s4 m3 l2 app">

          <div class="card-content white-text">

            <a href="/app/store/tradetracker" style="margin:0px;">

              <img src="/assets/themes/default/img/apps/tradetracker.png" style="max-width: 100%; max-height: 100%;">

              <!-- <p class="app-name">TradeTracker Feed</p> -->

            </a>

          </div>

        </div>


        <div class="col s4 m3 l2 app">

          <div class="card-content white-text">

            <a href="/app/store/tweakers" style="margin:0px;">

              <img src="/assets/themes/default/img/apps/tweakers.png" style="max-width: 100%; max-height: 100%;">

              <!-- <p class="app-name">Tweakers Pricewatch Feed</p> -->

            </a>

          </div>

        </div>


        <div class="col s4 m3 l2 app">

          <div class="card-content white-text">

            <a href="/app/store/twenga" style="margin:0px;">

              <img src="/assets/themes/default/img/apps/twenga.png" style="max-width: 100%; max-height: 100%;">

              <!-- <p class="app-name">Twenga Feed</p> -->

            </a>

          </div>

        </div>


        <div class="col s4 m3 l2 app">

          <div class="card-content white-text">

            <a href="/app/store/vergelijk" style="margin:0px;">

              <img src="/assets/themes/default/img/apps/vergelijk.png" style="max-width: 100%; max-height: 100%;">

              <!-- <p class="app-name">Vergelijk/Comparer Feed</p> -->

            </a>

          </div>

        </div>


        <div class="col s4 m3 l2 app">

          <div class="card-content white-text">

            <a href="/app/store/zanox" style="margin:0px;">

              <img src="/assets/themes/default/img/apps/zanox.png" style="max-width: 100%; max-height: 100%;">

              <!-- <p class="app-name">Zanox Feed</p> -->

            </a>

          </div>

        </div>


        <div class="col s4 m3 l2 app">

          <div class="card-content white-text">

            <a href="/app/store/zoover" style="margin:0px;">

              <img src="/assets/themes/default/img/apps/zoover.png" style="max-width: 100%; max-height: 100%;">

              <!-- <p class="app-name">Zoover Feed</p> -->

            </a>

          </div>

        </div>


        <div class="col s4 m3 l2 app">

          <div class="card-content white-text">

            <a href="/app/store/ebay" style="margin:0px;">

              <img src="/assets/themes/default/img/apps/ebay.png" style="max-width: 100%; max-height: 100%;">

              <!-- <p class="app-name">Ebay Integratie</p> -->

            </a>

          </div>

        </div>


        <div class="col s4 m3 l2 app">

          <div class="card-content white-text">

            <a href="/app/store/marktplaats" style="margin:0px;">

              <img src="/assets/themes/default/img/apps/marktplaats.png" style="max-width: 100%; max-height: 100%;">

              <!-- <p class="app-name">Marktplaats Integratie</p> -->

            </a>

          </div>

        </div>


        <div class="col s4 m3 l2 app">

          <div class="card-content white-text">

            <a href="/app/store/woocommerce" style="margin:0px;">

              <img src="/assets/themes/default/img/apps/woocommerce.png" style="max-width: 100%; max-height: 100%;">

              <!-- <p class="app-name">WooCommerce</p> -->

            </a>

          </div>

        </div>


        <div class="col s4 m3 l2 app">

          <div class="card-content white-text">

            <a href="/app/store/virtuemart" style="margin:0px;">

              <img src="/assets/themes/default/img/apps/virtuemart.png" style="max-width: 100%; max-height: 100%;">

              <!-- <p class="app-name">VirtueMart</p> -->

            </a>

          </div>

        </div>


        <div class="col s4 m3 l2 app">

          <div class="card-content white-text">

            <a href="/app/store/drupal" style="margin:0px;">

              <img src="/assets/themes/default/img/apps/drupal.jpg" style="max-width: 100%; max-height: 100%;">

              <!-- <p class="app-name">Drupal</p> -->

            </a>

          </div>

        </div>


        <div class="col s4 m3 l2 app">

          <div class="card-content white-text">

            <a href="/app/store/aliexpress" style="margin:0px;">

              <img src="/assets/themes/default/img/apps/aliexpress.png" style="max-width: 100%; max-height: 100%;">

              <!-- <p class="app-name">AliExpress</p> -->

            </a>

          </div>

        </div>


        <div class="col s4 m3 l2 app">

          <div class="card-content white-text">

            <a href="/app/store/supplier" style="margin:0px;">

              <img src="/assets/themes/default/img/apps/supplier.png" style="max-width: 100%; max-height: 100%;">

              <!-- <p class="app-name">Aanmelden als Leverancier</p> -->

            </a>

          </div>

        </div>


        <div class="col s4 m3 l2 app">

          <div class="card-content white-text">

            <a href="/app/store/priceminister" style="margin:0px;">

              <img src="/assets/themes/default/img/apps/priceminister.png" style="max-width: 100%; max-height: 100%;">

              <!-- <p class="app-name">Priceminister</p> -->

            </a>

          </div>

        </div>


      </div>

      <div class="center-align grey-text text-lighten-1">Staat uw gewenste koppeling er niet bij? Neem <a href="#modal-contact-email"
          data-target="modal-contact-email" class="waves-effect waves-light btn modal-trigger">contact</a> op om uw wens door
        te geven, zodat onze team het voor u kan oppakken.</div>

    </div>

  </section>

</main>