<app-header></app-header>

<main>
  <div class="row platform-detail">
    <div id="filters" class="col s12 m4 l2 platform-left">
      <ul class="collapsible" data-collapsible="expandable">
        <li class="active">
          <div class="collapsible-header active"><i class="material-icons">info</i>App Informatie</div>
          <div class="collapsible-body platform-container" style="display: block;">
            <ul>
              <li>
                <div class="promo-image">
                  <img src="/assets/themes/default/img/apps/ccv.png">
                </div>
              </li>
              <li>
                Prijs: Gratis!
              </li>
              <li>
                Categorie: Webshop Integratie
              </li>
            </ul>
          </div>
        </li>
        <li class="active">
          <div class="collapsible-header active"><i class="material-icons">offline_pin</i>Installatie</div>
          <div class="collapsible-body center-align" style="display: block;">
            <ul>
              <li>
                <a href="#login-form" data-target="login-form" class="waves-effect waves-light btn yellow darken-2 grey-text text-darken-4 modal-trigger"
                  id="start-now-navbar">Aanmelden</a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
    <div class="col s12 m8 l10">
      <div class="card" style="margin-top: 0.4rem; padding-left: 2rem; padding-right: 2rem; padding-bottom: 2rem; padding-top: 0.1rem;">
        <h1>CCV Shop</h1>
        <br>
        <p>
        </p>
        <p>CCV Shop integratie, importeer direct producten naar uw CCV Shop Webshop.</p>
        <p>Let op! U moet eerst een account hebben bij deze applicatie. Geen account? Maak deze <a href="https://www.ccvshop.nl/"
            target="_blank" rel="noopener noreferrer">hier</a> aan!</p>
        <hr>
        <p class="p1">Bied meer producten aan op uw CCV Shop webwinkel!</p>
        <p class="p2">&nbsp;</p>
        <p class="p1">Met onze koppeling voor CCV Shop kunt u met enkele klikken op de muisknop meteen uw keuze aan producten
          toevoegen en publiceren op uw webshop. Het aanbod wordt gepubliceerd en uitgerust met volledige content. Uw producten
          zijn zo voorzien van een volledige productomschrijving, afbeeldingen, titel, en product specificaties.</p>
        <p class="p2">&nbsp;</p>
        <p class="p1">Wanneer er een product besteld wordt die u vanuit de koppeling heeft aangeboden, hoeft u niets te doen.
          Wij kunnen de dropshipping naar uw klanten verzorgen!*</p>
        <p class="p2">&nbsp;</p>
        <p class="p2">&nbsp;</p>
        <p class="p2">&nbsp;</p>
        <p class="p1 grey-text"><em>*Mits de bestelling compleet en de betaling voldaan is.</em></p>
        <p></p>
        <div class="row videoplayer">
          <video onplaying="if(!$(this).is(':visible')) { $(this).show(); }" style="display:none;" controls="" autoplay="">
            <source src="https://services.munazzo.com/content/platforms/ccv.mp4" type="video/mp4">
            <source src="https://services.munazzo.com/content/platforms/ccv.webm" type="video/webm">
          </video>
        </div>
      </div>
    </div>
  </div>
</main>