<app-header></app-header>

<main>
    <section>
        <div class="container">
            <h4 class="center-align with-subtitle">Laat uw omzet groeien</h4>
            <h5 class="subtitle center-align">Plaats uw catalogi op verschillende marktplaatsen om uw omzet verder te laten
                groeien.</h5>
            <br><br>
            <div class="row three-paragraphs center-align">
                <div class="col m4 s12"><em class="small material-icons">storage</em>
                    <h5>Product Listing</h5>
                    <p>Plaats uw catalogi in verschillende martkplaatsen zoals Bol.com, Amazon, Ebay of Marktplaats</p>
                </div>
                <div class="col m4 s12"><em class="small material-icons">web</em>
                    <h5>Webshop Integratie</h5>
                    <p>Importeer eenvoudig producten met content naar uw webshop.</p>
                </div>
                <div class="col m4 s12"><em class="small material-icons">account_circle</em>
                    <h5>Shopping App</h5>
                    <p>Eenvoudig producten inkopen met de Web App, iOS App, Android App of Windows (Universal) Shopping App</p>
                </div>
            </div>
        </div>
    </section>
    <div class="container platform-container" style="margin-top: 2rem">
        <div class="collapsible-body config-container" data-group="config-section" data-step-id="new-step" style="display: block;">
            <div id="select-section" data-group="tab-section" data-selector="select-section" style="display: block;">
                <div class="row bottompadded" style="margin-left:5%;margin-right:5%;">
                    <div class="row">
                        <div class="content col4 text-left">
                            <i class="material-icons" style="font-size: 24px;vertical-align: middle; color: #999999">search</i>
                            <input id="search-appstore" type="text" style="width: 90%;background-color: white;font-weight: 400;padding-left:0px;" placeholder="Zoek op naam of categorie"
                                data-selector="search-box" autofocus="autofocus">
                        </div>
                    </div>
                    <div class="row">
                        <div class="content col s12 m3 l3 hide-on-small-and-down" id="categories-list">
                        </div>
                        <div class="content col s12 m9 l9 components-grid">
                            <div class="row" id="store-list">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>