<app-header>
</app-header>

<main>
  <div class="container terms">
    <div class="row">
      <div class="col s12">
        <div class="card-panel z-depth-1">
          <div class="row">
            <div class="col s12">
              <div class="grey-text">
                <h1>Algemene verkoop-, leverings- en betalingsvoorwaarden Munazzo</h1>
                <h2>Artikel 1: Begripsbepaling</h2>
                <p>1. Onder Munazzo wordt in deze algemene voorwaarden verstaan: munazzo.com<br> 2. Onder koper wordt in
                  deze algemene voorwaarden mede begrepen degene in wiens opdracht en voor wiens rekening diensten worden
                  verricht, alsmede degene met wie koopovereenkomsten tot levering van producten worden gesloten.</p>
                <h2>Artikel 2: Algemeen/Toepasselijkheid</h2>
                <p>1. Deze voorwaarden zijn met uitsluiting van de algemene voorwaarden van kopers van toepassing op alle
                  aanbiedingen, koopovereenkomsten en leveranties van producten en op alle aanbiedingen en overeenkomsten
                  zoals het verrichten van diensten tussen Munazzo en haar kopers.<br> 2. Eventuele inkoop- of andere voorwaarden
                  maken alleen deel uit van een overeenkomst voor zover die voorwaarden of bedingen door Munazzo uitdrukkelijk
                  en schriftelijk zijn aanvaard.<br> 3. Koper met wie in het verleden op (andere) algemene voorwaarden is
                  gecontracteerd, stemt in met toepasselijkheid van deze algemene voorwaarden op latere overeenkomsten tussen
                  koper en Munazzo<br> <br> Identiteit van de ondernemer<br> Naam: XLSupply B.V.<br> Handelsnaam: Munazzo<br>                  Rietveldenweg
                  41 A 5222 AP ‘s-Hertogenbosch<br> Telefoonnummer: 073 62 40 420<br> E-mailadres: info@munazzo.com<br> KvK-nummer:
                  64417360<br> Btw-identificatienummer: NL855657789B02</p>
                <h2>Artikel 3: Het gebruik van de diensten</h2>
                <p>1. Om de dienst te gebruiken, bent u verplicht om een gebruikersaccount (een "Account") aan te maken.
                  Als u bent voorzien van een identificatie gebruikerscode, wachtwoord of andere informatie als onderdeel
                  van onze veiligheidsprocedures die toegang geven tot uw account, moet u dergelijke informatie vertrouwelijk
                  behandelen, u mag het niet openbaar te maken voor een derde partij. Een gebruiker identificatie-code is
                  bij Munazzo het e-mailadres waarmee u het account heet aangemaakt. Gebruikersaccounts zijn strikt persoonlijk
                  en individueel: het is niet toegestaan om een gebruikersaccount met andere mensen te delen. We hebben het
                  recht om een gebruiker identificatie-code of wachtwoord uit te schakelen, op elk moment, als naar onze
                  mening niet is gelukt om te voldoen aan de bepalingen van deze gebruiksvoorwaarden.</p>
                <p>2. Als u een abonnement op de diensten van Munazzo ten behoeve van een bedrijf aanschaft vertegenwoordigt
                  u Munazzo dat<br> - U de bevoegdheid hebt om dat bedrijf te binden en dat u akkoord gaat met deze overeenkomst;<br>                  -
                  U zich aan deze overeenkomst zult houden;<br> - U Munazzo de bevoegdheid geeft het bedrijfslogo te allen
                  tijde te mogen gebruiken op de website en op andere promotiemateriaal.</p>
                <p>3. Minderjarigen onder de leeftijd van 13 is niet toegestaan om de dienst te gebruiken. Als de wetten
                  van het land van verblijfsvergunning dit toelaat, kunnen minderjarige kinderen de dienst gebruiken, op
                  voorwaarde dat hun ouder of wettelijke voogd stelt dat het account is aangemaakt met goedkeuring van deze
                  moedermaatschappij of voogd.</p>
                <p>Als u uw minderjarige kind of juridische afdeling in staat stelt de dienst te gebruiken, gaat u akkoord
                  met deze voorwaarden ten behoeve van zowel uzelf en uw kind of juridische afdeling. U stemt ermee verder
                  dat u als enige verantwoordelijk bent voor alle gebruik van de dienst door uw kind of juridische afdeling,
                  ongeacht of deze toepassing was toegestaan door u.</p>
                <p>4. Zolang u zich houdt aan deze overeenkomst verleent Munazzo u een beperkte, herroepbare, niet- exclusieve,
                  niet-overdraagbare, niet-sublicentieerbare recht op toegang en gebruik van de dienst zoals het bedoeld
                  is om te worden gebruikt en in overeenstemming met deze overeenkomst en de toepasselijke wetgeving. Munazzo
                  verleent u geen andere rechten, impliciet of anderszins.</p>
                <p>&nbsp;</p>
                <p>5. U mag de dienst niet gebruiken om onwettige of ander ongewenst materiaal te verspreiden, of als het
                  schade toebrengt aan anderen of de dienst zelf. U kunt bijvoorbeeld niet:<br> <br> (I) de dienst schaden,
                  bedreigen of lastig vallen een andere persoon, organisatie of Munazzo; (Ii) schade, storing, overbelasting
                  of aantasting van de dienst veroorzaken;<br> <br> (Iii) verkopen of herdistribueren van enig deel van de
                  dienst of de toegang tot de dienst, met inbegrip van de verkoop of aankoop van een account;<br> <br> (Iv)
                  ongeoorloofde middelen gebruiken of proberen te gebruiken om te wijzigen, om te leiden, of de toegang tot
                  de dienst te krijgen;<br> <br> (V) gebruik maken van een geautomatiseerd proces of dienst (zoals een bot,
                  een spider, periodieke caching van informatie die is opgeslagen door Munazzo, of metasearching) voor toegang
                  tot, of gebruik van de dienst, of de gegevens van de dienst te kopiëren of te schrappen;<br> <br> (Vi)
                  verkrijgen (of proberen te verkrijgen) van alle gegevens van de dienst, met uitzondering van de gegevens
                  die we van plan zijn om aan u ter beschikking te stellen.<br> </p>
                <p>Users Content</p>
                <p>6. Door het gebruik van de Dienst, verleent u Munazzo een wereldwijde, onherroepelijke, niet- exclusieve,
                  royalty-vrije licentie om al het materiaal te gebruiken (inclusief zonder beperking tekst, afbeeldingen
                  en ander beeldmateriaal, hierna te noemen de "User Content") die u uploadt of per post verstuurt naar de
                  dienst. De inhoud zoals gegeven worden niet gedeeld met derden, met uitzondering van de door u gekozen
                  partijen. U erkent hierbij dat alle inhoud geplaatst op de dienst voor al het publiek beschikbaar is.</p>
                <p>7. U mag geen bestanden uploaden of per post sturen naar Munazzo of anderszins gebruiken op een manier
                  in verband met auteursrecht, merkenrecht of andere eigendomsrechten zonder de uitdrukkelijke toestemming
                  van de eigenaar van dergelijke auteursrecht, merkenrecht of andere eigendomsrechten. U bent verantwoordelijk
                  voor het bepalen dat het materiaal niet wordt beschermd. U bent als enige aansprakelijk voor alle schade
                  als gevolg van een inbreuk op auteursrechten, handelsmerken, eigendomsrechten, of andere schade als gevolg
                  van uw overtreding van dit verbod. Alle handelsmerken en / of dienstmerken weergegeven op de dienst zijn
                  de exclusieve eigendom van hun respectievelijke eigenaars, en mogen niet worden gebruikt zonder toestemming
                  van de eigenaar.</p>
                <p>8. Munazzo claimt geen eigendomsrechten aan de User Content. Munazzo behoudt zich wel het recht voor om
                  User Content die u uploadt of post naar de dienst stuurt te bewerken of verwijderen. De dienst heeft geen
                  controle proces of verificatie proces van de User Content die u uploadt of per post aan de dienst ter beschikking
                  stelt, noch bewaakt de dienst de User Content die ter beschikking is gesteld aan de dienst.</p>
                <p>9. U bepaalt wie toegang heeft tot uw User Content. Wanneer u anderen toegang geeft tot uw User Content
                  op de dienst, verleent u deze gratis, met een niet-exclusieve toestemming om te gebruiken, te reproduceren,
                  te distribueren, weer te geven, door te geven, en aan het publiek dergelijke User Content uitsluitend te
                  gebruiken in verband met de dienst. Als u niet wilt dat anderen die rechten hebben, mag u de dienst niet
                  gebruiken om uw User Content te delen.</p>
                <p>10. Door gebruik te maken van de dienst, geeft u Munazzo het recht, uw User Content te gebruiken, te wijzigen,
                  aan te passen, te reproduceren, te verspreiden, te publiceren en weer te geven op de dienst. Deze rechten
                  gelden uitsluitend voor zover dat nodig is voor de werking van de Dienst.</p>
                <p>11. User Content die deze Gebruiksvoorwaarden of uw lokale wetten overtreedt is niet toegestaan op de
                  Dienst. Munazzo behoudt zich het recht voor om inhoud voor het doel van de handhaving van deze Gebruiksvoorwaarden
                  te herzien. Als u User Content op de Dienst deelt op een manier die anderen, copyrights, andere intellectuele
                  eigendomsrechten of eigendomsrechten of publiciteits- of privacyrechten schendt, schendt u deze gebruiksvoorwaarden.
                  U verklaart en garandeert dat u over alle rechten beschikt die noodzakelijk voor u zijn en dat het gebruik
                  van de User Content geen wet overtreedt.<br> Wij kunnen uw content van de dienst verwijderen op elk gewenst
                  moment en om welke reden dan ook, met inbegrip van indien:<br> (i) u inbreuk maakt op deze Gebruiksvoorwaarden;<br>                  (Ii)
                  de User Content grenzen overschrijdt aan opslag of bestandsgrootte; of<br> (iii) we annuleren of schorten
                  uw toegang tot de Dienst op.<br> Munazzo voert monitoring om de geschiktheid van de inhoud te garanderen
                  als bedoeld in deze gebruikersovereenkomst te stellen, en, of als gevolg van een dergelijke controle of
                  na ontvangst van de kennisgeving van ongeschikte content van derden. Munazzo behoudt zich het recht voor
                  om enige of alle User Content te verwijderen uit de dienst. U stemt ermee in om onmiddellijk de Content
                  neer te halen die de gebruiksvoorwaarden schendt, ingevolge een take down verzoek van Munazzo. In het geval
                  dat u ervoor kiest om niet te voldoen aan een verzoek van Munazzo, behoudt de dienst zich het recht voor
                  rechtstreekts dergelijke inhoud en ook uw toegang tot de dienst uit te schakelen.</p>
                <p>12. U bent verantwoordelijk voor een back-up van de User Content die u op de Dienst plaatst. We kunnen
                  uw User Content definitief verwijderen van de Dienst als uw toegang tot de dienst wordt opgeschort of geannuleerd.
                  Wij hebben geen verplichting om User Content aan u terug te sturen nadat uw toegang tot de Dienst is geschorst
                  of ingetrokken. Indien User Content wordt opgeslagen met een vervaldatum, kunnen we ervoor kiezen de User
                  Content vanaf die datum te verwijderen. User Content die wordt verwijderd kan onherstelbaar zijn.</p>
                <p>13. U gaat ermee akkoord dat Munazzo niet verantwoordelijk is voor een product of Professional Service
                  dat binnen de dienst wordt getoond en afkomstig is uit een ander land dan de bron van Munazzo. Alle zaken
                  met betrekking tot de Producten of Professional Services worden aangeboden door derden, waaronder, maar
                  niet beperkt tot, aankoopvoorwaarden, betalingsvoorwaarden, garanties, onderhoud en levering, vinden uitsluitend
                  plaats tussen u en de derde partijen. Wij geven geen garanties of verklaringen met betrekking tot de producten
                  of Professional Services door derden. U kan niet overwegen ons (en we zullen niet worden opgevat als) partij
                  bij dergelijke transacties, of enige vorm van inkomsten of andere vergoeding kan hebben ontvangen in verband
                  met dergelijke transacties, en we zijn niet aansprakelijk voor eventuele kosten of schade die, direct of
                  indirect, voortvloeit uit een andere betrokkene of in verband met de transacties.</p>
                <p>Betalingen</p>
                <p>14. Alle functies en kenmerken van de dienst zijn betaalde functionaliteiten (hierna gezamenlijk aangeduid
                  als "functionaliteiten"). U stemt ermee in om het gebruik van de functionaliteiten binnen 30 dagen te betalen.
                  We kunnen uw toegang tot de dienst opschorten of annuleren als we niet een dergelijke betaling op tijd
                  ontvangen. Opschorting of annulering van uw toegang tot de dienst bij het niet betalen kan resulteren in
                  verlies van toegang tot het gebruik van uw account, alsmede het verlies van uw Users Content opgeslagen
                  op de Dienst.</p>
                <p>15. Om de kosten voor Functionaliteiten geleverd via de dienst te betalen, wordt u gevraagd om een betaalmethode
                  op het moment dat u zich aanmeldt voor dergelijke functionaliteiten. U kunt informatie over uw account
                  en betalingsmethode opvragen en wijzigen door contact op te nemen met Munazzo. U stemt ermee in te allen
                  tijde uw factuur informatie actueel te houden.</p>
                <p>16. Door het verstrekken van een betaalmethode, verklaart u dat<br> (i) u bevoegd bent om de betaalmethode
                  die u verstrekt te gebruiken en dat de door u verstrekte informatie juist en accuraat is;<br> (Ii) u Munazzo
                  bemachtigt, in rekening te brengen voor de functionaliteiten door middel van het gebruik van uw betaalmethode;
                  en<br> (iii) u Munazzo bemachtigd rekening te brengen voor de functionaliteiten. Wij brengen elke facturatieperiode
                  per maand in rekening.</p>
                <p>17. Het abonnement op onze service wordt automatisch vernieuwd elke facturatie periode (per maand). De
                  kosten voor elke facturatie periode is gebaseerd op de functionaliteiten van de dienst die u gebruikt in
                  combinatie met andere factoren, waaronder, maar niet beperkt tot, het aantal geïmporteerde items, aantal
                  winkels en het aantal kanalen. Berekening van de hoogte van de heffing gebeurd automatisch en kan elke
                  facturatie periode variëren. Meer informatie over prijzen kan worden gevonden op Munazzo.com. Om uw abonnement
                  te stoppen, moet u de Functionaliteiten annuleren vóór de eerstvolgende factuurdatum om te voorkomen dat
                  uw overeenkomst verlengt wordt. Als u de terugkerende betaling optie annuleert, blijft uw account actief
                  tot de volgende vervaldag. In geval van een dergelijke annulering, wordt u geen terugbetaling gegeven.
                  Als u uw account verwijderd vóór het einde van de periode waarvoor u betaald, wordt uw annulering meteen
                  behandeld. In het geval van verwijdering van uw account, ontvangt u geen restitutie.</p>
                <p>18. Wij zullen u voorzien van een factuur via e-mail. Al uw facturen kunt u later terugzien in uw account
                  op de dienst. Als we een fout op uw factuur gemaakt hebben, moet u ons binnen 30 dagen nadat de fout voor
                  het eerst verschijnt op uw factuur, hierop attenderen. Wij zullen dan onmiddellijk een onderzoek starten.
                  Wanneer u ons niet, of niet op tijd attendeert op eventuele fouten op uw factuur, zullen wij niet verplicht
                  zijn de fout te herstellen en vervalt uw recht op eventuele terugbetaling. Tevens neemt Munazzo dan geen
                  enkel aansprakelijkheid en claims ter gevolg van schade door onjuiste informatie op de factuur.</p>
                <p>19. Wanneer u gebruik maakt van onze functionaliteiten, gaat u ermee akkoord dat we de Functionaliteiten
                  onmiddellijk bieden. U heeft hierbij geen recht op een annulering of "afkoelingsperiode", behalve als er
                  wettelijk een afkoelingsperiode bestaat. Betalingen voor Functionaliteiten (of deze transacties zijn of
                  abonnementen) kunnen niet worden gerestitueerd.</p>
                <p>20. Munazzo kan de prijs van de functionaliteiten op elk moment wijzigen en zal u via e-mail ten minste
                  15 dagen vóór de prijswijziging hiervan op de hoogte houden. Dit geldt niet voor de verandering in de inschrijving
                  als gevolg van de factoren zoals vermeld in paragraaf 17. Als u niet akkoord gaat met de prijswijziging,
                  moet u de functionaliteiten annuleren en stoppen met het gebruik van de Functionaliteiten voordat de prijswijziging
                  van kracht wordt. Als er een vaste looptijd en prijs voor uw functionaliteiten geboden is, zal die prijs
                  van kracht blijven gedurende de looptijd.</p>
                <p>21. U moet betalen voor alle kosten die wij maken om eventuele achterstallige betalingen te innen. Deze
                  omvatten honoraria van advocaten en andere juridische kosten en kosten in geval van wanbetaling.</p>
                <p>22. Als Munazzo u een betaling verschuldigd is, dan gaat u ermee akkoord om tijdig en accuraat ons te
                  voorzien van alle informatie die we nodig hebben om deze betaling waar te maken. U bent verantwoordelijk
                  voor eventuele belastingen en kosten die erbij komen als gevolg van deze betaling aan u. U moet ook voldoen
                  aan alle andere voorwaarden die we stellen aan uw recht op enige betaling. Als u een betaling ten onrechte
                  ontvangen hebt, kunnen we deze omkeren of een terugkeer van betaling eisen. U stemt ermee in om samen met
                  ons zich in te spannen om dit voor elkaar te krijgen. We behouden ons het recht om de betaling te verminderen
                  aan u zonder voorafgaande kennisgeving. Dit gebeurd in geval van een aanpassing en of correctie bij betalingen.</p>
                <h2>Artikel 4: Aanbiedingen / Industriële eigendom</h2>
                <p>1. Alle aanbiedingen in prijscouranten, circulaires, advertenties, orderbevestigingen, brieven, waar ook
                  gepubliceerd of hoe ook gedaan, zijn steeds vrijblijvend.<br> 2. Alle rechten uit hoofde van industriële
                  en intellectuele eigendom, alsmede auteursrechten, blijven berusten bij Munazzo</p>
                <h2>Artikel 5: Prijzen</h2>
                <p>1. Alle prijzen zijn exclusief B.T.W. en in Euro’s (€) uitgedrukt, tenzij uitdrukkelijk anders is vermeld.<br>                  2.
                  Alle prijzen zijn gebaseerd op de ten tijde van de totstandkoming van de overeenkomst geldende prijslijsten,
                  dan wel latere prijsopgaven via een door Munazzo geautomatiseerd systeem, dan wel via e-mail of schriftelijk.<br>                  3.
                  Indien na het sluiten van de overeenkomst één of meer kostprijsfactoren een verhoging ondergaan, is Munazzo
                  gerechtigd deze in de prijs door te berekenen.</p>
                <h2>Artikel 6: Overeenkomst</h2>
                <p>1. Een overeenkomst komt tot stand op het moment dat koper via de webshop, dan wel telefonisch, via e-mail
                  of schriftelijk bestelling doet, tenzij Munazzo binnen 24 uur na bestelling telefonisch, via e- mail en/of
                  schriftelijk aan koper laat weten de bestelling niet te accepteren. Het voorafgaande geldt ook voor door
                  Munazzo aangewezen leveranciers, bij wie koper rechtstreeks bestelt. Munazzo mag altijd zonder opgave van
                  redenen een klant weigeren, niet accepteren.</p>
                <h2>Artikel 7: Betaling</h2>
                <p>1. Alle betalingen worden door koper onmiddellijk voldaan per iDeal of ander electronisch betaalmiddel.
                  Uiterste betalingstermijn 7 dagen.<br> 2. Indien de koper niet tijdig of niet volledig heeft betaald ,
                  is hij van rechtswege in verzuim zonder dat een nadere ingebrekestelling is vereist. In dat geval zijn
                  alle vorderingen van Munazzo op koper waarop deze algemene voorwaarden van toepassing zijn, direct en onmiddellijk
                  opeisbaar. Tevens is koper alsdan aan Munazzo een jaarrente verschuldigd van 3 % boven de op dat moment
                  door de Nederlandse Bank gehanteerde 3 maandse Euribor-rente, met een minimum van 8,5%, waarbij een gedeelte
                  van een maand geldt als volledige maand.<br> 3. Alle op de invordering vallende kosten, met name buitengerechtelijke
                  kosten, zijn voor rekening van de koper. De buitengerechtelijke kosten worden gesteld op tenminste 15%
                  van de verschuldigde bedragen in hoofdsom, met een absoluut minimum van € 150,-.<br> 4. Iedere betaling
                  door koper strekt allereerst tot voldoening van de verschuldigde rente en vervolgens tot voldoening van
                  de op de invordering vallende kosten, met uitzondering van de gerechtelijke kosten. Pas na voldoening van
                  deze bedragen strekt enige betaling door koper in mindering op de in hoofdsom openstaande vorderingen,
                  waarbij de oudste openstaande vordering als eerste wordt afgeschreven.<br> 5. Koper is niet gerechtigd
                  schuldvergelijking toe te passen ten aanzien van bedragen, welke Munazzo krachtens een tussen hen bestaande
                  overeenkomst in rekening brengt.<br> 6. Munazzo is steeds gerechtigd, ook tijdens de uitvoering van de
                  overeenkomst, de nakoming van haar verplichting op te schorten, totdat koper op verzoek van Munazzo zekerheid
                  heeft gesteld voor de nakoming van zijn betalingsverplichtingen. Daarnaast is Munazzo gerechtigd ook voor
                  toekomstige leveranties aan koper zekerheid te verlangen.<br> Wij factureren uitsluitend electronisch,
                  de factuur wordt verzonden in PDF.</p>
                <h2>Artikel 8: Levering door Munazzo , levertijd, risico</h2>
                <p>1. De bestellingen zullen door Munazzo, worden geleverd volgens een door haar bekend te maken afleverschema.
                  Munazzo heeft te allen tijde het recht dit schema te wijzigen c.q. aan te passen. Koper zal voorts de aanwijzingen
                  die door Munazzo worden gegeven met betrekking tot de wijze waarop bestellingen dienen plaats te vinden
                  in acht nemen. Indien door de koper wordt afgeweken van de door Munazzo gestelde manier van bestellen dan
                  zullen de (extra) kosten die hiervoor gemaakt worden belast worden aan de koper.<br> 2. Afgesproken levertijden
                  zijn, tenzij anders schriftelijk is overeengekomen, nimmer te beschouwen als fatale termijnen. Indien overschrijding
                  van enige termijn dreigt, zullen Munazzo en koper zo spoedig mogelijk in overleg treden. Bij niet-tijdige
                  levering dient Munazzo, (met inachtneming van een redelijke termijn), in gebreke te worden gesteld, waarbij
                  aan Munazzo een redelijke termijn van tenminste 21 kalenderdagen dient te worden gesteld waarbij zij alsnog
                  aan de overeengekomen verplichtingen kan voldoen.<br> 3. Munazzo is geheel vrij de wijze van transport
                  te bepalen conform de daartoe geldende wettelijke bepalingen; in alle gevallen waarin de producten op verzoek
                  van koper niet kunnen worden afgeleverd volgens het afleveringsschema zijn de vervoerskosten geheel voor
                  rekening van koper.<br> 4. Onverminderd hetgeen in lid 3 van dit artikel is bepaald draagt koper dadelijk
                  na levering het risico voor alle directe en indirecte schade die aan of door de geleverde producten of
                  onderdelen daarvan ontstaat.</p>
                <h2>Artikel 9: Levering door derde-toeleverancier</h2>
                <p>1. Munazzo is bevoegd om gebruik te maken van door Munazzo aan te wijzen derde-toeleveranciers. Bij de
                  keuze van de derde-toeleverancier zal Munazzo de nodige zorgvuldigheid in acht nemen.<br> 2. De derde-toeleverancier
                  levert de via Munazzo te betalen producten rechtstreeks aan koper. In alle gevallen kan koper rechtstreeks
                  bij Munazzo de producten van de derde-toeleverancier bestellen. In geval van rechtstreekse leveringen blijft
                  betaling aan Munazzo plaatsvinden, tenzij met derde-toeleverancier anders overeen gekomen is, dan worden
                  producten rechtstreeks aan derde- toeleverancier betaald.<br> 3. Munazzo is niet aansprakelijk voor tekortkomingen
                  en/of gebrekkige leveringen door de derde- toeleverancier. Munazzo zal koper zoveel mogelijk behulpzaam
                  zijn bij het indienen van eventuele schadeclaims die koper mocht hebben jegens de derde-toeleverancier,
                  ingeval van tekortkomingen en/of gebrekkige leveringen door de derde-toeleverancier.</p>
                <h2>Artikel 10: Eigendomsvoorbehoud</h2>
                <p>1. De eigendom van alle door Munazzo aan koper geleverde producten blijft bij Munazzo zolang koper de
                  vorderingen van Munazzo ter zake van een koopovereenkomst of uit welken hoofde dan ook niet heeft voldaan,
                  zolang koper de verrichte of nog te verrichten werkzaamheden uit enige andere overeenkomst nog niet heeft
                  voldaan en zolang koper de vorderingen van Munazzo wegens tekortschieten in de nakoming van zodanige verbintenissen
                  niet heeft voldaan, waaronder begrepen vorderingen ter zake van boeten, rente en kosten. Munazzo is in
                  dit geval gerechtigd de geleverde producten in haar macht te brengen, waaronder het betreden van het terrein
                  van koper, om zelf de desbetreffende producten uit de winkel en het magazijn van koper te halen. Emballage
                  wordt nimmer eigendom van koper.<br> 2. Het is koper toegestaan, de onder eigendomsvoorbehoud geleverde
                  producten, in het kader van de normale uitoefening van zijn bedrijf aan derden te verkopen. Koper is niet
                  gerechtigd op de door Munazzo geleverde producten een pandrecht of een bezitloos pandrecht te vestigen.<br>                  3.
                  In aanvulling op het in artikel 7.1 genoemde eigendomsvoorbehoud, verbindt koper zich om op eerste daartoe
                  strekkend verzoek van Munazzo een bezitloos pandrecht voor te behouden en voor zover nodig te vestigen
                  op de door Munazzo aan koper in eigendom geleverde producten, tot zekerheid van alle bestaande en toekomstige
                  vorderingen van Munazzo, uit welken hoofde dan ook.</p>
                <h2>Artikel 11: Reclames op door Munazzo geleverde producten</h2>
                <p>1. Koper dient bij levering en inontvangstneming van de door Munazzo geleverde producten te controleren
                  of de levering met zijn bestelling c.q. zijn opdracht overeenstemt. 2. Reclames te zake van zichtbare gebreken
                  en/of manco of surplus meldingen van de levering dienen aanstonds, doch uiterlijk binnen 24 uur na leveringsdatum,
                  bij Munazzo te worden gemeld. Meldingen zoals omschreven dienen zoveel mogelijk via het door Munazzo geleverde
                  en/of aangewezen geautomatiseerde systeem gemeld worden. Overige reclames ter zake van geleverde producten
                  worden door Munazzo slechts in behandeling genomen indien zij binnen 24 uur nadat koper in redelijkheid
                  het gebrek had kunnen ontdekken, ter kennis van Munazzo zijn gebracht. Na het verstrijken van deze termijn
                  wordt koper geacht de geleverde zaken in orde te hebben bevonden.<br> 3. Eventuele rechten uit hoofde van
                  dit artikel gelden slechts voor de eerste koper. Koper heeft niet het recht om betaling van de geleverde
                  zaken op te schorten op grond van gebleken gebreken; indien de reclame gegrond blijkt, kan later terugbetaling
                  plaatsvinden.<br> 4. Terugzending (retourneren) van geleverde goederen kan door koper slechts geschieden
                  na akkoordbevinding en met uitdrukkelijke schriftelijke toestemming van Munazzo<br> 5. Ruilen van artikelen
                  is uitsluitend en alleen mogelijk indien deze ruiling gewenst is ten gevolge van een aanwijsbare en verwijtbare
                  foutieve handeling van Munazzo . Artikelen worden in dat geval bij de eerstvolgende zending omgeruild voor
                  het juiste artikel, mits deze artikelen aangeboden worden in gesloten, originele (fabrieks)verpakking zoals
                  ze ook zijn afgeleverd.<br> <br> Samengevat:<br> Munazzo neemt uitsluitend retouren aan in de volgende
                  gevallen:<br> 1.Product voldoet na beproeving niet aan de gestelde eisen, dit dient binnen 24 uur na ontvangst
                  schriftelijk gemeld te zijn door de opdrachtgever. Na deze periode kan hier geen aanspraak meer op worden
                  gemaakt.<br> 2.Er is een onjuist product of onjuist aantal afgeleverd. Dit dient binnen 24 uur schriftelijk
                  te worden doorgeven aan Munazzo . De bewijslast ligt bij de opdrachtgever. Onder onjuist wordt verstaan
                  een aflevering die afwijkt van de schriftelijk aangevraagde order door de opdrachtgever, welke schriftelijk
                  bevestigd dient te zijn door Munazzo In alle overige gevallen worden geen retouren geaccepteerd, tenzij
                  anders is overeengekomen.</p>
                <h2>Artikel 12: Overmacht</h2>
                <p>1. Munazzo is niet gehouden tot nakoming van enige verplichting indien zij daartoe verhinderd is als gevolg
                  van een omstandigheid die niet te wijten is aan haar schuld, noch krachtens wet, rechtshandeling of in
                  het verkeer geldende opvatting voor haar rekening komt.<br> 2. Indien Munazzo door overmacht, of door andere
                  buitengewone omstandigheden, zoals onder andere maar niet beperkt tot werkstaking, stagnatie in de aanvoer
                  van producten, havenstakingen en brand, ofwel bij Munazzo ofwel bij haar leveranciers, niet of niet tijdig
                  in staat is haar verplichtingen uit hoofde van de overeenkomst na te komen, heeft Munazzo het recht de
                  overeenkomst binnen redelijke termijn - 3 maanden- uit te voeren, ofwel – indien nakoming binnen redelijke
                  termijn niet mogelijk is – de overeenkomst geheel of gedeeltelijk, ontbonden te verklaren.<br> 3. Koper
                  is in voornoemd geval niet gerechtigd tot ontbinding van de overeenkomst.</p>
                <h2>Artikel 13: Aansprakelijkheid</h2>
                <p>1. Munazzo aanvaardt wettelijke verplichtingen tot schadevergoeding voor zover koper door middelen rechtens
                  aantoont en bewijst dat de schade is veroorzaakt door grove schuld of nalatigheid van Munazzo.<br> 2. De
                  uit artikel 13.1 voortvloeiende aansprakelijkheid voor schade wordt uitdrukkelijk beperkt tot een bedrag
                  ter grootte van het gefactureerde bedrag in de hoofdsom, betrekking hebbende op de geleverde producten
                  en/of verrichte diensten.<br> 3. Iedere verdergaande aansprakelijkheid van Munazzo voor schade, waaronder
                  begrepen doch niet beperkt tot aansprakelijkheid voor werknemers en hulppersonen, wordt uitgesloten, uit
                  welke hoofde dan ook ontstaan, daaronder begrepen alle directe en indirecte schade, zoals gevolgschade
                  of bedrijfsschade. Voorts vrijwaart koper Munazzo tegen alle aanspraken van derden ter zake van door deze
                  eventueel te lijden of geleden schade, zulks met inachtneming van hetgeen in dit artikel is bepaald.</p>
                <h2>Artikel 14: Ontbinding</h2>
                <p>1. Indien koper één of meer van zijn verplichtingen voortvloeiende uit de overeenkomst niet, niet tijdig
                  of niet behoorlijk nakomt, is Munazzo gerechtigd, zonder nadere ingebrekestelling en rechterlijke tussenkomst
                  en zonder gehouden te zijn tot enige schadevergoeding, de levering van de producten op te schorten en/of
                  de desbetreffende koopovereenkomst door middel van een schriftelijke kennisgeving aan koper, met directe
                  ingang te ontbinden, zulks onverminderd alle overige aan Munazzo toekomende rechten.<br> 2. Indien koper
                  op het moment van de ontbinding reeds prestaties ter uitvoering van de overeenkomst had ontvangen, wordt
                  de overeenkomst slechts gedeeltelijk ontbonden en wel uitsluitend voor dat gedeelte, dat door Munazzo nog
                  niet is uitgevoerd. Bedragen die Munazzo voor de ontbinding heeft gefactureerd in verband met hetgeen zij
                  reeds ter uitvoering van de overeenkomst heeft verricht of geleverd, blijven onverminderd verschuldigd
                  en worden op het moment van de ontbinding direct opeisbaar.<br> 3. Alle vorderingen van Munazzo zijn terstond
                  en geheel opeisbaar indien koper zijn verplichtingen niet nakomt, dan wel bij diens faillissement of diens
                  surséance van betaling, of indien koper door welke oorzaak ook de vrije beschikking over zijn vermogen
                  of een gedeelte daarvan verliest of dreigt te verliezen. Munazzo heeft in dat geval het recht de overeenkomst
                  met onmiddellijke ingang zonder rechtelijke tussenkomst door middel van een schriftelijke kennisgeving
                  aan koper geheel of gedeeltelijk te ontbinden of op te schorten, onverminderd haar recht op schadevergoeding.</p>
                <h2>Artikel 15: Overige verplichtingen van koper</h2>
                <p>1. Koper is verplicht Munazzo onmiddellijk schriftelijk op de hoogte te stellen als diens faillissement
                  of surséance van betaling wordt aangevraagd of als koper door welke oorzaak ook de vrije beschikking over
                  zijn vermogen of een gedeelte daarvan verliest of dreigt te verliezen.</p>
                <h2>Artikel 16: Wijzigingen</h2>
                <p>1. Deze algemene voorwaarden kunnen door Munazzo worden gewijzigd, doch deze wijzigingen gelden niet eerder
                  jegens koper dan nadat koper van deze wijzigingen op de hoogte is gesteld.</p>
                <h2>Artikel 17: Toepasselijk recht en geschillen</h2>
                <p>1. Op de overeenkomsten tussen Munazzo en koper is uitsluitend Nederlands recht van toepassing.<br> 2.
                  Alle geschillen tussen Munazzo en haar kopers worden voorgelegd aan de bevoegde rechter in het vestigingsgebied
                  van Munazzo of, zulks ter keuze van Munazzo, aan de bevoegde rechter in de woonplaats van de koper.</p>
                <h2>Artikel 18: Copyright webwinkel</h2>
                <p>1. Op alle foto's, afbeeldingen, teksten etc. bestaat copyright. Niets van dit alles mag zonder schriftelijke
                  toestemming vooraf van Munazzo worden overgenomen voor eigen gebruik. Overnemen van afbeeldingen en foto's,
                  deze kunnen na schriftelijke toestemming worden gebruikt. Het is nimmer toegestaan om teksten van producten
                  en overige van de webwinkel over te nemen, tenzij daar toestemming voor is verleend. (via een koppeling
                  of webshopplatform)</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a href="/content/Munazzo_Algemene_Voorwaarden_2017.pdf" target="_blank" style="position: absolute; right: 1rem; top: 1rem;">Downloaden
      of Afdrukken (PDF)</a>
  </div>
</main>