<app-header></app-header>


<main>
  <div class="container terms">
    <div class="row">
      <div class="col s12">
        <div class="card-panel z-depth-1">
          <div class="row">
            <div class="col s12">
              <div class="grey-text">
                <h1>Privacy Policy XLSupply B.V. / Munazzo</h1>
                <p>Ons vestigingsadres is Rietveldenweg 41A<br> 5222 AP 's-Hertogenbosch</p>
                <p>Ons postadres is Rietveldenweg 41A<br> 5222 AP 's-Hertogenbosch</p>
                <p>Inschrijvingsnummer Kamer van Koophandel 64417360?<br> Ons btw-nummer is NL855657789B02</p>
                <p>Bij elk bezoek aan onze website herkent onze webserver automatisch uw domeinnaam en uw e-mailadres. Bij
                  een bezoek aan onze website bewaren wij uw e-mailadres als u boodschappen/vragen plaatst op deze website
                  en alle informatie die u vrijwillig verstrekt hebt (bijvoorbeeld onderzoeksinformatie en/of site-registratie).
                  Deze informatie wordt gebruikt om de inhoud en de lay-out van onze pagina\'s te individualiseren voor elke
                  individuele bezoeker. De informatie wordt alleen intern gebruikt en wordt niet doorgegeven aan andere organisaties
                  voor commerciële doeleinden.</p>
                <p>Op deze site gebruiken we cookies. (Een cookie is een klein bestand dat verstuurd wordt door een Internetserver
                  en dat zich op de vaste schijf van uw computer installeert. Dit bestand houdt de sporen bij van de bezochte
                  Internetsite en bevat een aantal gegevens over dit bezoek). De inhoud en de presentatie van de site aan
                  te passen op basis van uw browsertype of van andere informatie die door de browser verstuurd wordt. We
                  hebben geen partnerschappen of speciale relaties met derden op internet.</p>
                <h2>Veiligheid</h2>
                <p>- Als wij uw gegevens overdragen of ontvangen op onze website, gebruiken wij altijd de coderingstechnologieën
                  die erkend worden als gangbare standaarden binnen de IT-sector.?<br> - Als wij bepaalde kritieke informatie
                  ontvangen of overdragen, zoals bijvoorbeeld financiële informatie of gezondheidsinformatie, gebruiken wij
                  een beveiligde server. U wordt hiervan op de hoogte gesteld via een scherm dat afgebeeld wordt op onze
                  site (pop-up).?<br> - Wij hebben de nodige veiligheidsmaatregelen ingevoerd om het verlies, het onrechtmatig
                  gebruik of de wijziging te voorkomen van informatie die wij ontvangen op onze site.</p>
                <h2>Hoe neemt u contact met ons op in verband met ons privacybeleid ?</h2>
                <p>Als u wenst te reageren op ons privacybeleid, kunt u contact met ons opnemen,<br> <br> - Per email info@munazzo.com?<br>                  -
                  Per telefoon: 073-62 40 420?<br> - Op het&nbsp;onderstaande adres:?<br> Rietveldenweg 41A?<br> 5222 AP
                  &nbsp;'s-Hertogenbosch</p>
                <h2>Over communicatie per e-mail</h2>
                <p>Als u in de toekomst geen e-mails wenst te ontvangen van ons bedrijf, kunt u contact met ons opnemen op
                  het hierboven vermelde adres. Wij kunnen de e-mailadressen van onze klanten doorgeven aan organisaties
                  waarmee wij contractueel verbonden zijn en die producten of diensten aanbieden die u zouden kunnen interesseren.
                  Als u wenst dat uw e-mailadres niet meegedeeld wordt aan andere bedrijven of organisaties, gelieve ons
                  te contacteren op het hierboven vermelde adres. U zult alleen de informatie ontvangen die u aangevraagd
                  hebt, op het adres dat u ons meegedeeld hebt. Ons bedrijf zal alleen telefonisch contact met u opnemen
                  als dit nodig is om u te informeren over de bestellingen die u on-line geplaatst hebt. Indien u geen reclame
                  van ons wenst te ontvangen via post, telefoon of e-mail. Dan kunt u dat ons laten weten op het hierboven
                  vermelde adres. Ons bedrijf kan de consumenteninformatie gebruiken voor nieuwe doeleinden die nog niet
                  voorzien zijn in ons « privacybeleid ». In dat geval, zullen wij contact met u opnemen alvorens uw gegevens
                  te gebruiken voor deze nieuwe doeleinden, om u op de hoogte te stellen van de wijzigingen aan ons reglement
                  voor de bescherming van persoonlijke gegevens en om u de kans te bieden uw deelname te weigeren. Op verzoek
                  verlenen wij aan de bezoekers van onze site toegang tot alle informatie die wij van hen bijhouden. Als
                  u toegang wenst tot deze informatie, gelieve u contact met ons op te nemen.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</main>