<app-header></app-header>

<main>
    <section id="pricing-cards">
        <div class="container">
            <h4 class="center-align">Van basis tot royaal,<br> Munazzo heeft een plan voor ieder wens.</h4>
            <div class="row">
                <div class="col s12 m6 l3">
                    <div class="card">
                        <div class="card-content white-text center-align">
                            <span class="card-title">Membership</span>
                            <span class="heading-divider"></span>
                        </div>
                        <div class="card-content main-content white center-align">
                            <div class="row center-align">
                                <div style="border-radius: 2rem; background: #CCC2C2; width: 4rem; display: inline-block;">
                                    <i class="material-icons" style="font-size: 4rem; vertical-align: middle; color: #fff;">stars</i>
                                </div>
                                <br>
                                <span style="color: #CCC2C2; text-transform: uppercase;">Membership</span>
                            </div>
                            <p>Nu!</p>
                            <p><span class="amount">Gratis</span></p>
                            <ul>
                                <li>2.000.000 merkproducten<br>Zoeken en bestellen</li>
                                <li>Importeer naar</li>
                                <li>CCV Shop, Lightspeed of Mijnwebwinkel</li>
                                <li>Realtime voorraad</li>
                                <li>Email &amp; Chat Support</li>
                            </ul>
                            <div class="product-count">10 Producten<br>1 Webshop integratie</div>
                        </div>
                        <div class="card-action white center-align">
                            <a id="start-now-pricing" class="btn btn-large waves-effect waves-light yellow darken-2 segment-track-link" href="../../app/register"><span
                                    class="dark-grey-text">Start nu Gratis!</span></a>
                        </div>
                    </div>
                    <p class="center-align"><span class="card-note"></span></p>
                </div>
                <div class="col s12 m6 l3">
                    <div class="card">
                        <div class="card-content white-text center-align">
                            <span class="card-title">Basis</span>
                            <span class="heading-divider"></span>
                        </div>
                        <div class="card-content main-content white center-align">
                            <div class="row center-align">
                                <div style="border-radius: 2rem; background: #965A38; width: 4rem; display: inline-block;">
                                    <i class="material-icons" style="font-size: 4rem; vertical-align: middle; color: #fff;">stars</i>
                                </div>
                                <br>
                                <span style="color: #965A38; text-transform: uppercase;">Basis</span>
                            </div>
                            <p>Voor maar</p>
                            <p><span class="amount">€35</span><span class="period">/maand</span></p>
                            <ul>
                                <li>2.000.000 merkproducten</li>
                                <li>Zoeken en bestellen</li>
                                <li>Importeer naar</li>
                                <li>CCV Shop, Lightspeed of Mijnwebwinkel</li>
                                <li>Koppel met</li>
                                <li>Bol.com, Amazon, Ebay of Marktplaats<br>Feeds voor</li>
                                <li>Vergelijksites, Affiliatenetwerken en Social Media</li>
                                <li>Realtime voorraad</li>
                                <li>Email &amp; Chat Support</li>
                            </ul>
                            <div class="product-count">1000 Producten<br>1 Webshop Integratie<br>1 Marketplace<br>1 Vergelijksite</div>
                        </div>
                        <div class="card-action white center-align">
                            <a class="btn btn-large waves-effect waves-light grey darken-2 modal-trigger" href="../../app/upgrade/2"> <span
                                    class="white-text">Aanmelden</span> </a>
                        </div>
                    </div>
                    <p class="center-align"><span class="card-note">* Pakketprijzen zijn Exclusief (21%) BTW.</span></p>
                </div>
                <div class="col s12 m6 l3">
                    <div class="card">
                        <div class="card-content white-text center-align">
                            <span class="card-title">Enterprise</span>
                            <span class="heading-divider"></span>
                        </div>
                        <div class="card-content main-content white center-align">
                            <div class="row center-align">
                                <div style="border-radius: 2rem; background: #A8A8A8; width: 4rem; display: inline-block;">
                                    <i class="material-icons" style="font-size: 4rem; vertical-align: middle; color: #fff;">stars</i>
                                </div>
                                <br>
                                <span style="color: #A8A8A8; text-transform: uppercase;">Enterprise</span>
                            </div>
                            <p>Voor maar</p>
                            <p><span class="amount">€99</span><span class="period">/maand</span></p>
                            <ul>
                                <li>2.000.000 merkproducten</li>
                                <li>Zoeken en bestellen</li>
                                <li>Importeer naar</li>
                                <li>CCV Shop, Lightspeed of Mijnwebwinkel</li>
                                <li>Koppel met</li>
                                <li>Bol.com, Amazon, Ebay of Marktplaats<br>Feeds voor</li>
                                <li>Vergelijksites, Affiliatenetwerken en Social Media</li>
                                <li>Realtime voorraad</li>
                                <li>Email &amp; Chat Support</li>
                            </ul>
                            <div class="product-count">5000 Producten<br>3 Webshop Integraties<br>3 Marketplaces<br>3 Vergelijksites</div>
                        </div>
                        <div class="card-action white center-align">
                            <a class="btn btn-large waves-effect waves-light grey darken-2 modal-trigger" href="../../app/upgrade/3"> <span
                                    class="white-text">Aanmelden</span> </a>
                        </div>
                    </div>
                    <p class="center-align"><span class="card-note">* Pakketprijzen zijn Exclusief (21%) BTW.</span></p>
                </div>
                <div class="col s12 m6 l3">
                    <div class="card">
                        <div class="card-content white-text center-align">
                            <span class="card-title">Royal</span>
                            <span class="heading-divider"></span>
                        </div>
                        <div class="card-content main-content white center-align">
                            <div class="row center-align">
                                <div style="border-radius: 2rem; background: #D9A441; width: 4rem; display: inline-block;">
                                    <i class="material-icons" style="font-size: 4rem; vertical-align: middle; color: #fff;">stars</i>
                                </div>
                                <br>
                                <span style="color: #D9A441; text-transform: uppercase;">Royal</span>
                            </div>
                            <p>Voor maar</p>
                            <p><span class="amount">€249</span><span class="period">/maand</span></p>
                            <ul>
                                <li>2.000.000 merkproducten</li>
                                <li>Zoeken en bestellen</li>
                                <li>Importeer naar</li>
                                <li>CCV Shop, Lightspeed of Mijnwebwinkel</li>
                                <li>Koppel met</li>
                                <li>Bol.com, Amazon, Ebay of Marktplaats<br>Feeds voor</li>
                                <li>Vergelijksites, Affiliatenetwerken en Social Media</li>
                                <li>Realtime voorraad</li>
                                <li>Email &amp; Chat Support</li>
                                <li>Auto-Pricing Module*</li>
                            </ul>
                            <div class="product-count">20000 Producten<br>10 Webshop Integraties<br>10 Marketplaces<br>10
                                Vergelijksites</div>
                        </div>
                        <div class="card-action white center-align">
                            <span class="bold"><br>Binnenkort beschikbaar<br></span>
                        </div>
                    </div>
                    <p class="center-align"><span class="card-note">* Mits de gekozen platform automatische prijs toepassing
                            ondersteunt <br>* Pakketprijzen zijn Exclusief (21%) BTW.</span></p>
                </div>
            </div>
        </div>
    </section>
    <section id="faq">
        <div class="container" style="position: relative;">
            <h4 class="center-align">FAQ</h4>
            <div class="row">
                <div class="col s12 m6 l6">
                    <h6>Wat houd het importeren van producten in?</h6>
                    <p>Het toevoegen van producten in uw webshop kan soms heel wat tijd in beslag nemen, denkt u aan het
                        zoeken van product informatie en het invoeren ervan in uw eigen webshop. Om dit proces te versnellen
                        hebben we een Import Tool ontwikkeld waarmee u producten uit onze catalogus met 2 klikken direct
                        op uw webshop kunt plaatsen. Dit bespaart niet alleen tijd en moeite, maar ook de kosten voor het
                        beheren van producten.</p>
                    <h6>Wat is realtime voorraad?</h6>
                    <p>De realtime vooraad die wordt aangegeven is de voorraad&nbsp;die we per direct beschikbaar hebben,
                        let wel op dat de levertijd per product kan verschillen in verband met omvang, gewicht en aard.</p>
                    <h6>Wat is Lightspeed of CCV Shop?</h6>
                    <p>Lightspeed en CCV shop zijn onder andere platformen die u een webshop kunnen aanbieden voor een scherpe
                        prijs. Met de koppelingen die wij voorzien kunt u direct producten importeren op uw webshop.</p>
                    <h6>Wat zijn marktplaatsen?</h6>
                    <p>De kracht van successvolle webshops zit meestal in de product expertise en de beschikbaarheid op verschillende
                        marktplaatsen. Op marktplaatsen zoals Bol.com of Amazon kunt u uw producten verkopen op de website
                        van de marktplaats. Hiermee kunt u uw omzet flink verhogen.</p>
                    <h6>Zijn de aangeboden producten authentiek?</h6>
                    <p>Alle producten zijn origineel, authentiek en met volledige fabrieksgarantie.</p>
                </div>
                <div class="col s12 m6 l6">
                    <h6>Kan ik iedere maand opzeggen?</h6>
                    <p>Alle abonnementen zijn maandelijks opzegbaar, zo kunt u voor een korte periode een duurdere abonnement
                        uitproberen of uw abonnement aanpassen aan uw nieuwe wensen.</p>
                    <h6>Wanneer worden de abonnementskosten afgeschreven?</h6>
                    <p>De abonnementskosten worden op de laatste werkdag van de maand verwerkt.</p>
                    <h6>Zijn er andere verborgen kosten?</h6>
                    <p>Nee absoluut niet, de kracht van onze formule zit in de transparantie van de abonnementen.</p>
                    <h6>Zijn er limieten&nbsp;op de gratis abonnement?</h6>
                    <p>Met de gratis versie kunt u oneindig producten zoeken en bestellen. U kunt ook gratis gebruik maken
                        van 1 webshop integratie. Let wel op dat de integratie beperkt is&nbsp;voor totaal 10 producten.
                        Voor meer integraties en om meerdere&nbsp;producten te kunnen importeren kunt u ervoor kiezen om
                        een grotere abonnement te nemen.</p>
                </div>
            </div>
            <img class="hide-on-small-and-down" src="/assets/themes/default/img/dropshipping.png" alt="" style="position: absolute; bottom: -20px; right: 0px; opacity: 0.4;">
        </div>
    </section>
</main>