<app-header></app-header>

<main>
  <div class="container terms">
    <div class="row">
      <div class="col s12">
        <div class="card-panel z-depth-1">
          <div class="row">
            <div class="col s12">
              <div class="grey-text">
                <h1>Algemene voorwaarden Dropshipping bij XLSupply B.V.</h1>
                <h2>1. Definities</h2>
                <p>1.1 In deze algemene voorwaarden hebben de volgende begrippen de volgende betekenis:</p>
                <p>Afnemer: de koper van Producten, niet zijnde een consument of eindgebruiker;</p>
                <p>Datafeed: gegevensbestand op basis van XML of CSV, door Verkoper met daarin de Productinformatie voor
                  alle Producten die Verkoper beschikbaar heeft voor verkoop; (alleen als er een koppeling beschikbaar is.)</p>
                <p>Dropshipping: het proces waarbij Verkoper Afnemer de mogelijkheid biedt om Producten die in eigendom toebehoren
                  aan en op voorraad worden gehouden door Verkoper aan te bieden aan en verzenden naar de Klanten. De Klanten
                  kunnen deze Producten bestellen bij Afnemer tegen een door Afnemer te bepalen verkoopprijs, waarna Afnemer
                  deze Producten via een geautomatiseerd of handmatig proces direct inkoopt bij Verkoper en Verkoper de Producten
                  in opdracht en voor rekening en risico van Afnemer aan de Klanten verzendt, een en ander zonder dat de
                  Klanten zien dat de Producten van Verkoper afkomstig zijn;</p>
                <p>Dropship Website: de website van Verkoper waarop Afnemer handmatig bestellingen kan plaatsen, wijzigen
                  en annuleren. Ook kan hier de status van een bestelling worden bekeken;</p>
                <p>Klant: elke natuurlijke persoon of rechtspersoon die een Product bestelt bij Afnemer;</p>
                <p>Klantenenservice: Klantenservice van Verkoper, bereikbaar op 073 62 40 420 en info@munazzo.com.</p>
                <p>Order: de door Afnemer geplaatste bestelling van één of meerdere Producten bij Verkoper, als gevolg van
                  een bestelling van een Klant;</p>
                <p>Overeenkomst: alle overeenkomsten op basis van Dropshipping tussen de Afnemer en Verkoper, inclusief alle
                  wijzigingen en aanvullingen daarop met betrekking tot de koop en verkoop van Producten;</p>
                <p>Pakbon: een bon waarop het/de geleverde product(en) worden vermeld. Deze bon bevat verder geen kenmerken
                  van Verkoper;</p>
                <p>Partijen: Afnemer en Verkoper;</p>
                <p>Producten: alle producten die Verkoper op basis van Dropshipping aanbiedt Alle producten worden aangeboden
                  door XLSupply B.V.</p>
                <p>Productinformatie: alle beschikbare informatie over de Producten, waaronder doch niet uitsluitend, artikelnummers,
                  generieke namen van Producten, merknamen, productomschrijvingen en productfoto’s, adviesprijzen van Producten
                  en voorraadinformatie;</p>
                <p>Verkoper: XLSupply B.V.</p>
                <p>Voorwaarden: deze algemene dropship voorwaarden;</p>
                <p>Websites: https://munazzo.com</p>
                <p>Alle definities hebben dezelfde betekenis in enkelvoud en meervoud, tenzij uitdrukkelijk anders bepaald.</p>
                <h2>2. Toepasselijkheid</h2>
                <p>2.1 Deze Voorwaarden zijn van toepassing op alle offertes en aanbiedingen van Verkoper, alsmede alle Orders
                  en Overeenkomsten en rechtsgevolgen voortvloeiende uit het bovenstaande, tenzij partijen uitdrukkelijk
                  anders overeenkomen.</p>
                <p>2.2 De toepasselijkheid van (inkoop)voorwaarden van de Afnemer is uitdrukkelijk uitgesloten.</p>
                <p>2.3 Indien enige bepaling van deze Voorwaarden nietig is of vernietigd wordt, zullen de overige bepalingen
                  van deze Voorwaarden volledig van kracht blijven en zullen Verkoper en de Afnemer in overleg treden teneinde
                  nieuwe bepalingen ter vervanging van de nietige respectievelijk vernietigde bepalingen overeen te komen,
                  waarbij zoveel mogelijk het doel en de strekking van de nietige respectievelijk vernietigde bepaling in
                  acht worden genomen.</p>
                <p>2.4 Verkoper is te allen tijde gerechtigd deze Voorwaarden aan te passen. De meest recente versie van
                  de Voorwaarden is altijd van toepassing. Een dergelijke wijziging wordt van kracht veertien (14) dagen
                  na de datum van verzending aan de Afnemer van de gewijzigde Voorwaarden. Indien de Afnemer binnen deze
                  veertien (14) dagen schriftelijk bezwaar maakt tegen de wijziging, zullen ten aanzien van hem de oorspronkelijke
                  Voorwaarden van toepassing blijven.</p>
                <h2>3. Aanbiedingen, bestellingen, totstandkoming overeenkomst, forecast</h2>
                <p>3.1 Alle aanbiedingen en offertes door Verkoper zijn geheel vrijblijvend en niet bindend, tenzij uitdrukkelijk
                  anders aangegeven.</p>
                <p>3.2 Alle aanbiedingen en offertes blijven geldig voor 30 dagen, tenzij uitdrukkelijk anders bepaald.</p>
                <p>3.3 Afnemer staat in voor de juistheid en volledigheid van de informatie waarop Verkoper haar aanbieding
                  of offerte baseert.</p>
                <p>3.4 Verkoper kan redelijkerwijs niet worden gehouden aan kennelijke vergissingen en/of schrijffouten in
                  aanbiedingen, offertes en Overeenkomsten. Indien de door Verkoper geoffreerde prijs niet juist is en meer
                  dan 10% afwijkt van de beoogde prijs, dan kan Verkoper de Overeenkomst ontbinden, waarna het reeds door
                  de Afnemer betaalde bedrag door Verkoper zal worden terugbetaald. In geval van ontbinding van de Overeenkomst
                  op grond van het bovenstaande, is Verkoper op geen enkele wijze aansprakelijk voor schade als gevolg van
                  de ontbinding.</p>
                <p>3.5 Alle Orders dienen te worden geplaatst op de door Verkoper voorgeschreven wijze. Afnemer dient gebruik
                  te maken van standaard protocollen en voorgeschreven ICT-infrastructuur om te kunnen communiceren met (de
                  servers) van Verkoper.</p>
                <p>3.6 Nadat Klanten een Product hebben besteld bij Afnemer, plaatst Afnemer middels de website Service handmatig
                  of automatisch een Order, op grond waarvan Verkoper, nadat zij de Order heeft geaccepteerd, het door de
                  Klant gekochte product in opdracht van Afnemer aan de Klant verzendt.</p>
                <p>3.7 Verkoper is te allen tijde gerechtigd om een Order (gedeeltelijk) te weigeren, zonder aansprakelijk
                  te zijn jegens Afnemer, indien:<br> <br> a) Afnemer niet voldoet of Verkoper reden heeft om aan te nemen
                  dat Afnemer niet zal voldoen aan zijn (betalings)verplichtingen;<br> b) Een Product niet (langer) op voorraad
                  is;<br> c) Er andere (redelijke) omstandigheden zijn op grond waarvan Verkoper niet gehouden kan zijn om
                  uitvoering te geven aan een Order.</p>
                <p>3.8 Indien Verkoper een Order weigert, dan zal zij binnen zeven (7) dagen na ontvangst van de Order Afnemer
                  daarvan in kennis stellen. Indien Verkoper de order niet binnen zeven (7) dagen na de ontvangst daarvan
                  heeft geweigerd, dan geldt deze in beginsel als aanvaard.</p>
                <p>3.9 Er komt pas een koopovereenkomst tot stand tussen Verkoper en Afnemer na een Order op het moment dat
                  Verkoper heeft bevestigd door middel van de mededeling ‘status verzonden’ dat het Product verzendklaar
                  staat en Verkoper daarmee de Order heeft aanvaard.</p>
                <p>3.10 Verkoper is te allen tijde gerechtigd om een bestelling zonder nadere toelichting (gedeeltelijk)
                  te weigeren en zonder op enige wijze aansprakelijk te zijn voor enige schade, bijvoorbeeld indien Verkoper
                  een aanwijzing of een vermoeden heeft dat de Afnemer zich niet aan zijn betalingsverplichtingen zal houden
                  en/of de Producten niet beschikbaar zijn.</p>
                <p>3.11 Afnemer is gehouden om, na een verzoek daartoe van Verkoper, binnen zeven (7) dagen een prognose
                  te verschaffen aan Verkoper van het aantal verwachte Orders, gespecificeerd per product, binnen een periode
                  van 3 daaropvolgende maanden.</p>
                <h2>4. Uitvoering</h2>
                <p>4.1 Verkoper zal zich naar beste vermogen inspannen de Overeenkomst met zorg uit te voeren, in voorkomend
                  geval overeenkomstig de met Afnemer schriftelijk vastgelegde afspraken en procedures. Alle werkzaamheden
                  van Verkoper worden uitgevoerd op basis van een inspanningsverbintenis, tenzij en voor zover in de schriftelijke
                  Opdracht Verkoper uitdrukkelijk een resultaat heeft toegezegd en het betreffende resultaat tevens met voldoende
                  bepaaldheid is omschreven.</p>
                <p>4.2 Verkoper behoudt zich te allen tijde het recht voor om derden voor de werkzaamheden in te zetten,
                  indien een goede uitvoering van de werkzaamheden dit vereist. De toepasselijkheid van artikel 7:404 van
                  het Burgerlijk Wetboek wordt ten deze uitdrukkelijk uitgesloten.</p>
                <p>4.3 Verkoper zal eventuele derden zorgvuldig selecteren en alleen inschakelen indien zulks noodzakelijk
                  is. Verkoper is niet aansprakelijk voor enige schade, welke is veroorzaakt door de derde.</p>
                <h2>5. Prijzen/Betalingen</h2>
                <p>5.1 Tenzij uitdrukkelijk anders overeengekomen dienen alle betalingen vooruit te worden gedaan. Verkoper
                  zal uitvoering geven aan de Overeenkomst nadat zij betaling heeft ontvangen. Betaling achteraf is alleen
                  mogelijk na een aanvraag daartoe door de Afnemer en goedkeuring door Verkoper.</p>
                <p>5.2 Verkoper is te allen tijde gerechtigd om, ongeacht eventueel eerder gemaakte betalingsafspraken, gehele
                  of gedeeltelijke betaling te eisen of vervangende zekerheid te verlangen ter zake de levering van Producten
                  op een tijdstip en wijze ter vrije keuze van Verkoper, alsmede al haar verplichtingen uit hoofde van de
                  Overeenkomst op te schorten totdat zij betaling of vervangende zekerheid heeft ontvangen, zonder aansprakelijk
                  te zijn voor enige schade.</p>
                <p>5.3 Alle prijzen van de Producten zijn in euro’s, tenzij anders aangegeven. Tenzij anders overeengekomen,
                  zijn alle prijzen exclusief BTW en andere belastingen en/of heffingen en zijn exclusief transportkosten,
                  verpakkingskosten, verzekeringskosten, alsmede export- en importheffingen. Deze kosten zijn voor rekening
                  van de Afnemer.</p>
                <p>5.4 De prijzen van de Producten zijn (dagelijks) aan wijziging onderhevig. De door Afnemer te betalen
                  prijzen zijn de prijzen op het moment dat Verkoper een Order accepteert.</p>
                <p>5.5 Indien door enige overheidsmaatregel kostprijsverhogende belastingen, heffingen of invoerrechten worden
                  ingevoerd of gewijzigd, dan wel na het sluiten van de Overeenkomst overheidsmaatregelen plaatsvinden ingevolge
                  welke de kostprijs van de door Verkoper te leveren diensten wordt verhoogd, dan is Verkoper gerechtigd
                  deze kosten aan Opdrachtgever door te berekenen, zelfs indien is overeengekomen dat de prijs vast zal zijn.
                  Verkoper zal Opdrachtgever hiervan onverwijld op de hoogte stellen.</p>
                <p>5.6 Wanneer de Afnemer tekortschiet in de nakoming van enige verplichting is de Afnemer direct in gebreke,
                  alsmede over het openstaande bedrag rente verschuldigd ad 1,25% per maand, zonder dat daartoe enige sommatie
                  of ingebrekestelling is vereist. De Afnemer is aan Verkoper verschuldigd de kosten, zowel in als buiten
                  rechte, ter zake de invordering van al datgene wat Afnemer aan Verkoper verschuldigd is. De buitengerechtelijke
                  incassokosten bedragen 15% van het verschuldigde bedrag met een minimum van EUR 250,- (tweehonderdvijftigeuro).</p>
                <p>5.7 Verkoper is gerechtigd om betalingen eerst in mindering te brengen op de (buitengerechtelijke) kosten,
                  daarna op de verschuldigde rente en daarna op de hoofdsom.</p>
                <h2>6. Levering en transport</h2>
                <p>6.1 Afnemer staat in voor de juistheid van de (adres)gegevens van de Klant en dient Verkoper onmiddellijk
                  in kennis te stellen van eventuele wijzigingen</p>
                <p>6.2 De Producten worden middels pakketpost verstuurd naar het opgegeven afleveradres van de Klant, waarbij
                  de Klant een handtekening dient te plaatsen voor ontvangst. Verkoper houdt de administratie en het bewijs
                  (track &amp; trace) bij van hetgeen per pakketpost is afgeleverd. Het ontbreken van een handtekening of
                  betwisting van ontvangst van een Product, ontslaat Afnemer niet van zijn betalingsverplichtingen jegens
                  Verkoper.</p>
                <p>6.3 De getoonde levertijden op de Dropship Website zijn actueel. Tenzij uitdrukkelijk anders schriftelijk
                  overeengekomen, zijn alle leverdata slechts inschattingen en daaraan kunnen geen rechten worden ontleend.
                  Verkoper zal haar best doen om de Producten op de overeengekomen datum te leveren, maar is niet aansprakelijk
                  jegens de Afnemer indien de overeengekomen termijn niet kan worden gehaald als gevolg van oorzaken welke
                  redelijkerwijs buiten de invloedssfeer van Verkoper liggen, zoals bijvoorbeeld vertraging door transport(bedrijven)
                  of levertijden van de leverancier van de Producten. Verkoper is nimmer aansprakelijk voor schade als gevolg
                  van de vertraging.</p>
                <p>6.4 Indien Verkoper niet in staat is om de Producten binnen 30 dagen na de overeengekomen leveringsdatum
                  te leveren, dan heeft de Afnemer, als enige middel, het recht om de bestelling te annuleren. Teneinde een
                  bestelling te kunnen annuleren, dient de Afnemer een brief of e-mail hiertoe aan Verkoper te verzenden.
                  De annulering is enkel geldig indien de annulering door Verkoper is ontvangen voordat Verkoper de Producten
                  verzendklaar heeft gemaakt.</p>
                <p>6.5 Indien niet alle bestelde Producten op voorraad zijn, is Verkoper gerechtigd om gedeeltelijke leveringen
                  te verrichten en gedeeltelijke verzendkosten in rekening te brengen. Verkoper zal de Afnemer hierover zo
                  spoedig mogelijk in kennis stellen.</p>
                <p>6.6 Indien de Klant afwezig is tijdens de aflevering van Product en het Product ook niet wordt afgehaald
                  op het postkantoor of andere aangegeven officiële afhaallocatie, dan komt het Product retour naar Verkoper.
                  Verkoper zal Afnemer op de hoogte stellen van de retourzending. Afnemer dient vervolgens zelf hierover
                  contact op te nemen met de Klant. De eventuele kosten voor het retourneren van het Product worden dan in
                  rekening gebracht aan Afnemer. Verkoper mag dan naar eigen keuze:<br> <br> (i) de Producten opslaan voor
                  rekening en risico van de Afnemer of <br> (ii) de Producten verkopen tegen de beste redelijkerwijs te verkrijgen
                  prijs (na aftrek van redelijke kosten voor opslag, verzekering en verkoopkosten), waarna de Afnemer slechts
                  het verschil tussen de verkregen prijs en het door hem aan Verkoper betaalde bedrag terugkrijgt, of<br>                  (iii)
                  de Producten nogmaals ter levering aanbieden, waarbij de extra kosten voor rekening van de Afnemer komen.</p>
                <p>6.6 Het risico voor schade aan en verlies van de Producten gaat onmiddellijk over op de Afnemer na overhandiging
                  van de Producten aan de transporteur, hetzelfde geldt bij retourzendingen, schade of verlies zijn voor
                  de Afnemer.</p>
                <p>6.7 Pakketten mogen enkel naar adressen in Nederland en België worden verzonden en Producten mogen enkel
                  aan Nederlandse en Belgische Klanten worden aangeboden door Afnemer. Pakketten worden verzonden door een
                  door XLSupply B.V. gekozen Transporteur. Buiten deze landen kunnen leveringen naar andere landen besproken
                  worden.</p>
                <h2>7. Garantie en recht van retour</h2>
                <p>7.1 Indien de Klant een Product wenst te retourneren of te ruilen, dan dient de Klant dit te retourneren
                  aan Afnemer. Verkoper neemt op haar beurt alleen Producten retour van Afnemer, indien het pakket beschadigd
                  is.</p>
                <p>7.2 Afnemer onderhoudt in het geval van retourneren het contact met de Klant. Afnemer zal een Klant nimmer
                  doorverwijzen naar Verkoper in geval van een retournering.</p>
                <p>7.3 Indien Afnemer heeft geconstateerd dat een aan hem geretourneerd Product gebrekkig is, dan neemt Afnemer
                  contact op met Verkoper over de afhandeling hiervan. Verkoper zal na ontvangst van het Product beoordelen
                  of het betreffende Product gebrekkig is. Indien Verkoper oordeelt dat het Product gebrekkig is en dit te
                  wijten is aan een oorzaak die voor rekening en risico van Verkoper komt, dan zal Verkoper een nieuw Product
                  toezenden aan de klant. De transportkosten voor het retourneren van het defecte Product en weer opnieuw
                  toezenden van een nieuw Product die hiervoor gemaakt worden komen voor rekening van Verkoper. Indien Verkoper
                  oordeelt dat het gebrek aan het Product niet voor haar rekening en risico komt, dan stelt zij Afnemer daarvan
                  in kennis en stuurt zij het Product voor rekening en risico en op kosten van Afnemer terug aan Afnemer.</p>
                <h2>8. Eigendomsvoorbehoud en zekerheidsrechten</h2>
                <p>8.1 De eigendom van de Producten blijft volledig bij Verkoper totdat de Afnemer volledig heeft voldaan
                  aan zijn betalingsverplichtingen.</p>
                <p>8.2 De Afnemer is niet gerechtigd om de onder eigendomsvoorbehoud geleverde Producten te verkopen, verhuren,
                  vervreemden, verpanden of op enige wijze te bezwaren of in gebruik te geven voordat de volledige eigendom
                  van de Producten is overgegaan op de Afnemer.</p>
                <p>8.3 Tot het moment van eigendomsoverdracht is de Afnemer gehouden om alle redelijkerwijs mogelijke maatregelen
                  te treffen teneinde de Producten te beschermen tegen schade. Indien derden beslag (dreigen te) leggen op
                  de onder eigendomsvoorbehoud geleverde zaken dan wel rechten daarop willen leggen of doen gelden, dan is
                  de Afnemer verplicht om Verkoper daar onmiddellijk van in kennis te stellen.</p>
                <p>8.4 Voor het geval dat Verkoper haar in dit artikel aangeduide eigendomsrechten wil uitoefenen, geeft
                  de Afnemer reeds nu onvoorwaardelijke en niet herroepbare toestemming aan Verkoper of door deze aan te
                  wijzen derden om al die plaatsen te betreden waar de eigendommen van Verkoper zich bevinden en die zaken
                  mee terug te nemen.</p>
                <p>8.5 Indien Verkoper haar eigendomsrechten niet kan uitoefenen, is de Afnemer aansprakelijk voor de door
                  Verkoper geleden schade.</p>
                <h2>9. Aansprakelijkheid</h2>
                <p>9.1 Aansprakelijkheid van Verkoper voor indirecte schade, daaronder begrepen gevolgschade, gederfde winst,
                  gemiste besparingen, verlies van bestanden en/of gegevens, vorderingen van derden op de Afnemer en schade
                  door bedrijfsstagnatie en leegloop, is te allen tijde uitgesloten.</p>
                <p>9.2 De aansprakelijkheid van Verkoper wegens toerekenbare tekortkoming in de nakoming van de Overeenkomst
                  is beperkt tot vergoeding van directe schade tot maximaal het bedrag van de op basis van de Overeenkomst
                  betaalde prijs, tenzij de verzekering een hoger bedrag uitkeert.</p>
                <p>9.3 Voorwaarde voor het ontstaan van enig recht op schadevergoeding is steeds dat de Afnemer Verkoper
                  schriftelijk in gebreke stelt en Verkoper een redelijke termijn tot nakoming geeft.</p>
                <p>9.4 Verkoper zal alleen aansprakelijk kunnen zijn, indien de Afnemer Verkoper schriftelijk in kennis stelt
                  van de schade binnen 30 dagen nadat de schade is opgetreden.</p>
                <h2>10. Overmacht (Force majeure)</h2>
                <p>10.1 Verkoper is niet gehouden te voldoen aan haar verplichtingen uit hoofde van de Overeenkomst, als
                  zij niet kan nakomen als gevolg van omstandigheden buiten haar invloedssfeer om (force majeur).</p>
                <p>10.2 Onder overmacht wordt onder andere maar niet uitsluitend verstaan stakingen, niet-, niet volledig
                  en/of vertraagde levering door toeleveranciers, oorlog en oorlogsgevaar, terrorisme, in- en uitvoerverboden,
                  epidemieën, verkeersstoringen, verlies of beschadiging bij transport, brand, diefstal, storingen in levering
                  van energie.</p>
                <h2>11. Tussentijdse beëindiging</h2>
                <p>11.1 Verkoper is gerechtigd om, zonder voorafgaande ingebrekestelling en zonder op enige wijze aansprakelijk
                  te zijn voor schade of kosten, en zonder afstand te doen van enig ander recht, haar verplichtingen op te
                  schorten of de Overeenkomst (gedeeltelijk) te ontbinden of tussentijds te beëindigen indien:<br> a) de
                  Afnemer zijn (betalings)verplichtingen niet nakomt;<br> b) er sprake is van een (dreigend) faillissement
                  van de Afnemer;<br> c) de Afnemer surseance van betaling heeft aangevraagd of voornemens is dit aan te
                  vragen;<br> d) de Afnemer niet meer vrijelijk kan beschikken over (liquide) middelen door bijvoorbeeld
                  beslaglegging;<br> e) de Afnemer wordt ontbonden of het voornemen heeft te ontbinden;<br> f) de eigendom
                  van de Afnemer wordt overgedragen aan een derde of de derde enige zeggenschap heeft verkregen;<br> g) er
                  zich omstandigheden voordoen die van zulks aard zijn dat nakoming van de verplichtingen door Verkoper redelijkerwijs
                  niet kan worden gevergd.</p>
                <p>11.2 Indien voornoemde gevallen zich voordoen dan zijn de vorderingen van Verkoper op de Afnemer direct
                  en geheel opeisbaar.</p>
                <h2>12. Eigendomsrechten</h2>
                <p>12.1 Alle ontwerpen, technische tekeningen, berekeningen, monsters en dergelijke met betrekking tot de
                  Producten blijven te allen tijde eigendom van Verkoper en mogen niet worden verveelvoudigd of overgedragen
                  of in bruikleen worden gegeven aan derden, zonder uitdrukkelijk voorafgaande schriftelijke toestemming
                  van Verkoper.</p>
                <p>12.2 Verkoper behoudt zich alle intellectuele eigendomsrechten voor uit hoofde van de Auteurswet of andere
                  wetgeving.</p>
                <p>12.3 De Afnemer garandeert dat hij geen inbreuk zal maken op de intellectuele eigendomsrechten van Verkoper
                  of de leveranciers van Verkoper in relatie tot de Producten.</p>
                <h2>13. Afnemergegevens, privacy en geheimhouding</h2>
                <p>13.1 Verkoper zal alleen gegevens van de Afnemer diens Klanten verzamelen voor zover noodzakelijk voor
                  de uitvoering van de Orders. De gegevens zullen, voor zover toegestaan bij wet, worden gebruikt voor de
                  bedrijfsvoering van Verkoper of aan haar gelieerde vennootschappen of derden, en zullen niet langer worden
                  opgeslagen dan noodzakelijk voor haar bedrijfsvoering. De Afnemer geeft Verkoper onherroepelijke toestemming
                  voor het gebruik en opslag van zijn (persoons)gegevens en staat ervoor in dat de Klanten daarvoor eveneens
                  toestemming hebben gegeven.</p>
                <p>13.2 Afnemer vrijwaart Verkoper voor aanspraken van personen van wie persoonsgegevens zijn geregistreerd
                  of worden verwerkt in het kader van de uitvoering van de Orders, dan wel voor aanspraken van derden al
                  dan niet uit hoofde van schadevergoeding, boetes, schikkingen, strafrechtelijke transactievoorstellen of
                  anderszins en stelt Verkoper daarvan volledig schadeloos.</p>
                <p>13.3 Verkoper is gerechtigd om de (persoons)gegevens van de Afnemer aan derden te verstrekken indien:<br>                  a)
                  dit nodig is voor de nakoming van de verplichtingen uit hoofde van de Overeenkomst;<br> b) Verkoper (incasso)maatregelen
                  door derden jegens de Afnemer treft;<br> c) Verkoper een kredietrapport wil laten opstellen;<br> d) Verkoper
                  daartoe gehouden is op grond van de wet of regelgeving.</p>
                <p>13.4 Verkoper en de Afnemer verbinden zich over en weer om geheimhouding te betrachten ter zake van alle
                  informatie en gegevens die zij van elkaar ontvangen in het kader van de (uitvoering van) de Overeenkomst
                  gedurende de looptijd van de Overeenkomst en nadien.</p>
                <h2>14. Overige</h2>
                <p>14.1 De Afnemer is niet gerechtigd om zonder voorafgaande schriftelijke toestemming van Verkoper enig
                  recht voortvloeiende uit de Overeenkomst aan derden over te dragen. Afnemer geeft bij voorbaat het recht
                  aan Verkoper om de rechten voortvloeiende uit de Overeenkomsten geheel of gedeeltelijk over te dragen aan
                  derden.</p>
                <h2>15. Toepasselijk recht en geschillen</h2>
                <p>15.1 Op deze voorwaarden en alle Overeenkomsten en afspraken welke daaruit voortvloeien tussen Verkoper
                  en de Afnemer is Nederlands recht van toepassing.</p>
                <p>15.2 Geschillen zullen uitsluitend worden voorgelegd aan de bevoegde rechtbank van het arrondissement
                  Oost-Brabant.</p>
                <p>15.3 De toepasselijkheid van het Weens Koopverdrag is uitdrukkelijk uitgesloten.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a href="/content/XLSupply_Dropshipping_Voorwaarden.pdf" target="_blank" style="position: absolute; right: 1rem; top: 1rem;">Downloaden
      of Afdrukken (PDF)</a>
  </div>
</main>